{%extends "master.html"%}


{%block content%}
<div class="container">
    <h1>Please Register Here</h1>
    <form method="post" class="">
        {%csrf_token%}
    <table class="table">
        <tr><td>Login Id</td><td><input type="text" name="uname" class="form-control"></td></tr>
        <tr><td>Password</td><td><input type="text" name="pwd" class="form-control"/></td></tr>
        <tr><td><button type="submit" class="button btn-info">Sign Up</button></td>
        <td></td></tr>
    </table>
</form>
</div>

{%endblock%}